<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agradecimento</title>
    <link rel="icon" href="/static/img/LogoStarTalk 2.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/LogoStartalk 2.png') }}" alt="Logo da Empresa" class="logo-img">
        </div>  
        <h1>Obrigado por sua Resposta!</h1>
        <p>Agradecemos por participar da nossa pesquisa de satisfação. Sua opinião é muito importante para nós!</p>
    </div>
</body>
</html>
