body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #333333;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #555555;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead th {
    background-color: #007bff;
    color: #ffffff;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #dee2e6;
}

table tbody td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

.media {
    font-weight: bold;
    font-size: 1.5rem;
    color: #28a745;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Espaço entre os gráficos e a tabela */
    gap: 20px; /* Espaço entre os gráficos */
}

.chart canvas {
    width: 500px !important; /* Largura fixa maior */
    height: 500px !important; /* Altura fixa maior */
    max-width: none; /* Remove o limite de largura */
    max-height: none; /* Remove o limite de altura */
}

select {
    padding: 5px;
    font-size: 1rem;
    margin-right: 10px;
}

button#filtrar-btn {
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#filtrar-btn:hover {
    background-color: #0056b3;
}
